[Unit]
Description=Podman Proxy Client

[Service]
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/podmanproxy-client
SyslogIdentifier=podmanproxy-client
User=user

[Install]
WantedBy=multi-user.target

